body {
    font-family: Arial, sans-serif;
    background-color: rgb(64, 169, 231);
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    height: 32px;
    background-color: rgb(137, 203, 241);
    border-radius: 5px;
    font-weight: 800;
}

.target-number {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 60px auto;
    text-align: center;
    height: 100px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.number-text {
    font-size: 1.5em;
    font-weight: 800;
}

.numbersContainer {
    display: grid;
    width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px auto;
    font-size: 2em;
    font-weight: 800;
    cursor: pointer;
}

.number:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.popup {
    position: fixed;
    visibility: collapse;
    top: 25%;
    left: 25%;
    width: 300px;
    height: 300px;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Убедитесь, что z-index выше, чем у других элементов */
}