body {
   background-color: rgb(64, 169, 231); 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(137, 203, 241);
    border-radius: 5px;
}