body {
   background-color: rgb(64, 169, 231); 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

#time, #level, #score, #bonus {
    color: white;
    background: #333;
    border-radius: 5px;
    padding: 5px 10px;
}